@media (max-width: 767px) {
    .human-sentences p {
        font-size: 16px;
        font-weight: bold;
    }

    img {
        width: 287px;
        height: 426px;
    }

    .sun {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 1023px) {
    .human-section {
        display: flex;
        flex-direction: column;
    }

    .section-2 {
        flex-direction: column-reverse;
    }

    img {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    iframe {
        height: 650px;
    }
}

@media (min-width: 1024px) {
    .title-area {
        font-size: 90px;
    }
}

